body {
    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #AB47BC;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 8px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.products {
    padding: 16px;
    text-align: center;
}

.product {
    margin-bottom: 24px;
}

.product img {
    max-width: 50%;
    height: 16rem;
    border-radius: 18px;
}

.product h3 {
    margin: 8px 0;
}

.product p {
    font-size: 14px;
}

.product button {
    background: #388E3C;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

footer {
    background: #AB47BC;
    color: #fff;
    text-align: center;
    padding: 16px;
}

@media (min-width: 600px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product {
        flex: 1 1 45%;
        box-sizing: border-box;
        margin: 8px;
    }
}