body {
    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
}

header {
    background: #AB47BC;
    color: #fff;
    padding: 24px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: #fff;
}